<div class="row">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker *ngFor="let negocio of negocios" 
    [latitude]="negocio.lat" 
    [longitude]="negocio.lng"></agm-marker>
  </agm-map>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>{{ title }}</h2>
      <a class="btn btn-primary" routerLink="/crear/new">Crear Negocio</a>
      <hr>
      <ul class="list-group">
        <ng-container *ngFor="let negocio of negocios">
           <!--[queryParams]="{pato: 'queryPato', perro: 'queryPerro'}" ESTO TAMBIEN SE PUEDE PONER ADENTRO DEL A--> 
          <li class="list-group-item">
              <a routerLink="/crear/{{ negocio._id }}"> <h4>{{ negocio.nombre | uppercase }}</h4></a>
            <br>
            <small> Creado: {{ negocio._id | date:"medium" | uppercase }}</small>
            <p> Descripcion del negocio: {{ negocio.descripcion }} </p>
            <p>{{ negocio._id }}</p> 
          </li>
        </ng-container>
      </ul>
      <hr>
    </div>
    <div class="col-md-4">
      <h2>Destacados</h2>
    </div>
  </div>
</div>