<div class="container">
  <div class="row">
    <div class="well">
      <a routerLink="/lugares">Bussiness</a> / Contact
    </div>
    <div class="col-sm-10 col-sm-offset-1">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" [(ngModel)]="bussiness.nombre" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Distance</label>
          <input type="number" class="form-control" [(ngModel)]="bussiness.distancia" placeholder="Distance">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Closeness</label>
          <input type="number" class="form-control" [(ngModel)]="bussiness.cercania" placeholder="Closeness">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Description</label>
          <textarea class="form-control" [(ngModel)]="bussiness.descripcion" rows="3" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Plan</label>
            <input type="text" class="form-control" [(ngModel)]="bussiness.plan" placeholder="E-Mail">
        </div>
        <hr>
        <h3>Datos de direccion</h3>
        <div class="form-group">
            <label for="exampleInputPassword1">Address/number</label>
            <input type="text" class="form-control" [(ngModel)]="bussiness.calle" placeholder="Address/number">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">City</label>
            <input type="text" class="form-control" [(ngModel)]="bussiness.ciudad" placeholder="City">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Country</label>
            <input type="text" class="form-control" [(ngModel)]="bussiness.pais" placeholder="Country">
        </div>
        <hr>
        <button class="btn btn-default" routerLink="/lugares">Cancel</button>
        <button class="btn btn-primary" (click)="saveBussiness()">Send</button>
    </div>
  </div>
</div>